<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/Images/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <img class="portrait" src="./Images/robot.png" alt="Robot">
        </div>
        
        
        
        {{>footer}}

    </body>
</html>