<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/Images/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <h2>{{msg}}</h2>

        </div>
        {{>footer}}
    </body>
</html>